{% if  app.user.beneficiary %}
    {% set beneficiary = app.user.beneficiary %}
    {% set member = beneficiary.membership %}
    {% set beneficiariesWhoCanBook = shift_service.beneficiariesWhoCanBook(member) %}
    <div style="padding-top:10px;padding-bottom:10px">
        <a href="{{ path("booking") }}" class="btn teal darken-1" {% if beneficiariesWhoCanBook | length == 0 %}disabled{% endif %}>Réserver</a>
        <a href="{{ path("schedule") }}" class="btn teal darken-1">Planning</a><br>
        {{ render(controller("AppBundle:Code:homepageDashboard")) }}
    </div>
    {% if (member.reservedShifts | length) > 0 %}
        <div id="pending" class="col s12">
            {% for shift in member.reservedShifts %}
                {% include "booking/_partial/reserved_shift.html.twig" with { shift: shift  } %}
            {% endfor %}
        </div>
    {% endif %}
    <div class="scrollshift" id="scrollwindow" style="overflow-y:scroll;height:380px;text-align:left;">
        {% for cycle in 1..-2 %}
            {% set shiftsOfCycle = member.getShiftsOfCycle(cycle) %}
            <h6>
                Cycle du {{ member.startOfCycle(cycle) | date('d/m/y') }} au {{ member.endOfCycle(cycle) | date('d/m/y') }}
            </h6>
            <ul class="collection">
                {% for shift in shiftsOfCycle %}
                    {% include "booking/_partial/home_shift.html.twig" with { shift: shift  } %}
                {% endfor %}
                {% if shiftsOfCycle | length == 0 %}
                    <li class="collection-item valign-wrapper">
                        <div>
                            <p>Aucun créneau {% if cycle < 0 %}effectué{% else %}réservé{% endif %} sur le cycle actuel. Pense à réserver tes créneaux !</p>
                        </div>
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
    <div id="scrollarrow" class="scrollarrow">
        <p class="center"><i>Faire défiler vers le bas pour voir la suite</i></p>
        <div class="arrow"></div>
    </div>
    {% if (member.getFutureRebookedShifts() | length) != 0 %}
        <li class="active">
            <div class="collapsible-header active"><i class="material-icons">event_busy</i>Mes créneaux annulés et repris par un autre bénévole</div>
            <div class="collapsible-body">
                {% for bookedshift in member.getFutureRebookedShifts() %}
                    <div class="col m6 s12 {% if (member.getFutureRebookedShifts() | length) < 2 %}push-m3{% endif %}">
                        <div class="card green lighten-5">
                            <div class="card-content green-text">
                                <span class="card-title">{{ bookedshift.start|date_fr_long }}</span>
                                <p>De {{ bookedshift.start|date('H:i') }} à {{ bookedshift.end|date('H:i') }}</p>
                                <p>Créneau repris</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
    {% endif %}
{% endif %}

