<li class="collection-item {% if (shift.getIsDismissed()) %}orange lighten-2{% elseif (shift.getIsCurrent()) %} deep-purple white-text {% elseif (shift.getIsPast()) %} {% else %} cyan darken-4 white-text{% endif %}">
    <div>
        <p class="titleshift">
            <b class="{{ shift.job.color }}-text">{{ shift.job.name }}</b> / {{ shift.shifter.firstname }}
        </p>
        <p>
            <i class="material-icons tiny">date_range</i>&nbsp;{{ shift.start|date_fr_long }}
            {% if not shift.getIsPast() and not shift.getIsCurrent() %}
                {% if (shift.getIsDismissed() ) %}
                    <a href="#undismiss{{ shift.id }}" class="modal-trigger btn-flat green truncate white-text">reprendre<span class="hide-on-med-and-down"> mon créneau</span></a>
                    <div id="undismiss{{ shift.id }}" class="modal black-text">
                        <div class="modal-content">
                            <h5>Confirmation</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat red-text">Retour</a>
                            <a href="#"
                               class="modal-action modal-close waves-effect waves-green btn teal"
                               onclick="$('#form_shift_id').val({{ shift.id }});$('#undismiss_shift').submit();">Oui, je reprends<span class="hide-on-med-and-down"> mon créneau</span></a>
                        </div>
                    </div>

                    {{ form_start(undismiss_shift_form,{ 'attr' : { 'id' : 'undismiss_shift'}}) }}
                    {{ form_widget(undismiss_shift_form) }}
                    {{ form_end(undismiss_shift_form) }}

                {% else %}
                    <a href="#dismiss{{ shift.id }}" class="modal-trigger secondary-content white-text"><i class="material-icons">delete_forever</i></a>
                    <div id="dismiss{{ shift.id }}" class="modal black-text">
                        <form action="{{ path('shift_dismiss',{'id':shift.id}) }}" method="post">
                            <div class="modal-content">
                                <h5>Je ne peux pas faire mon créneau</h5>
                                <div class="input-field">
                                    <textarea id="reason" name="reason" class="materialize-textarea"></textarea>
                                    <label for="reason">Justification éventuelle</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="#!"
                                   class="modal-action modal-close waves-effect waves-green btn-flat grey-text ">Retour à la raison</a>
                                <button class="modal-action modal-close waves-effect waves-green btn red ">Oui, je me désiste !</button>
                            </div>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
        </p>
        <p>
            <i class="material-icons tiny">access_time</i>&nbsp;{{ shift.start|date('H:i') }} - {{ shift.end|date('H:i') }}
            {% if (shift.getIsCurrent() or shift.getIsUpcoming()) %}
                <a href="#contact{{ shift.id }}" class="modal-trigger secondary-content white-text" title="Contacter les bénévoles du créneau"><i class="material-icons">email</i></a>
            {% endif %}
        </p>
        {% if use_fly_and_fixed %}
            <p class="valign-wrapper">Type : <b>{% if shift.fixe %} Fixe {% else %} Volant {% endif %}</b></p>:w
        {% endif %}
        {% if shift.formation != null %}
            <p class="valign-wrapper">Formation : <b>{{ shift.formation }}</b></p>
        {% endif %}
    </div>
</li>
{% if (shift.getIsUpcoming() or shift.getIsCurrent()) %}
    {{ render(controller("AppBundle:Default:shiftContactForm",{'shift':shift})) }}
{% endif %}
